@{
    ViewBag.Title = "About";
}

<div style="height: 30px"></div>

<div class="centralen-kontent" style="font-size: 24px; padding: 50px">In this application, you will be able to solve quizzes with many different thematics,
    and if you have administrator privileges, you will also be able to edit, delete and create quizzes!</div>