@model IEnumerable<Kviz_Aplikacija___IT_Proektna_2023.Models.Quiz>

@{
    ViewBag.Title = "Index";
}

<div style="height: 50px"></div>

@*<div style="text-align: center; animation: fade-in 1500ms;"><img src="~/moiStiloviISliki/WelcomeText60.png" alt="welcome" /></div>*@

<h1 style="text-align:center; font-size: 60px; color: white;">Welcome to the Quiz Solving App!</h1>

<div style="text-align:center; margin-top: 30px"><img src="~/moiStiloviISliki/logo1.png" alt="logo"/></div>